<div class="form-container flex flex-1 justify-center mt-4">
  <form class="flex flex-col flex-shrink-0 gap-4" (ngSubmit)="handleSubmit()">
    <div
      class="heading-content font-bold"
      *ngIf="this.createSubscriptionObj.id === 0; else elseUpdate"
    >
      <h1 class="text-3xl mb-4 text-center">Registration Subscription Form</h1>
      <p>To Register please complete all below fields.</p>
    </div>
    <ng-template #elseUpdate>
      <div class="heading-content font-bold">
        <h1 class="text-3xl mb-4 text-center">Update Subscription Form</h1>
        <p>To Update please complete all below fields.</p>
      </div>
    </ng-template>

    <!-- Add Drop down for subscriber  -->
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Select the Subscriber</span>
      </div>

      <select
        [class.invalid]="!isSubscriberIdValid"
        [(ngModel)]="createSubscriptionObj.subscriberId"
        name="subscriberId"
        class="select select-bordered select-info bg-gray-100"
      >
        <option [value]="0" disabled selected>Pick one</option>
        @for (subscriber of subscriberList; track subscriber) {
        <option [value]="subscriber.id">{{ subscriber.firstName }}</option>
        }
      </select>
    </label>
    <span [class.hide]="isSubscriberIdValid" class="text-red-500"
      >Please Choose valid SubscriberId</span
    >

    <!-- Add Drop down for Product  -->
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Select the Product</span>
      </div>

      <select
        [class.invalid]="!isProductIdValid"
        [(ngModel)]="createSubscriptionObj.productId"
        (ngModelChange)="handleProductChange(createSubscriptionObj.productId)"
        name="productId"
        class="select select-bordered select-info bg-gray-100"
      >
        <option [value]="0" disabled selected>Pick one</option>
        @for (product of productList; track product) {
        <option [value]="product.id">{{ product.productName }}</option>
        }
      </select>
    </label>
    <span [class.hide]="isProductIdValid" class="text-red-500"
      >Please Choose valid ProductId</span
    >

    <label
      [class.invalid]="!isProductIdValid"
      class="input input-bordered flex items-center gap-2 bg-gray-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        viewBox="0 0 64 64"
        stroke-width="3"
        stroke="#000000"
        fill="none"
      >
        <path
          d="M42.45,56.47H21.55a2.19,2.19,0,0,1-2.19-2.19V29.08a1.1,1.1,0,0,1,.34-.8L30.8,17.86a1.1,1.1,0,0,1,1.47,0l12,10.44a1.12,1.12,0,0,1,.37.82V54.28A2.19,2.19,0,0,1,42.45,56.47Z"
          stroke-linecap="round"
        />
        <path
          d="M32,25.61c-4.13,0-7.48-4.05-7.48-9s3.35-9,7.48-9,7.48,4.05,7.48,9"
          stroke-linecap="round"
        />
        <path
          d="M26.36,31.68H29c2.62,0,5.51.87,5.51,4.86,0,4.32-3.67,6-7.56,5.53a.23.23,0,0,0-.19.39l8.28,8.89"
          stroke-linecap="round"
        />
        <line
          x1="37.71"
          y1="31.68"
          x2="28.45"
          y2="31.68"
          stroke-linecap="round"
        />
        <line
          x1="26.49"
          y1="36.67"
          x2="37.77"
          y2="36.67"
          stroke-linecap="round"
        />
      </svg>
      <input
        [(ngModel)]="intermediateCalculation.productPrice"
        [disabled]="true"
        name="productPrice"
        type="number"
        autocomplete="off"
        class="grow"
        placeholder="Product Price"
      />
    </label>

    <!-- Add Drop down for Discount  -->
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Select the Discount</span>
      </div>

      <select
        [class.invalid]="!isDiscountIdValid"
        [(ngModel)]="createSubscriptionObj.discountId"
        (ngModelChange)="handleDiscountChange(createSubscriptionObj.discountId)"
        name="discountId"
        class="select select-bordered select-info bg-gray-100"
      >
        <option [value]="0" disabled selected>Pick one</option>
        @for (discount of discountList; track discount) {
        <option [value]="discount.id">{{ discount.discountCode }}</option>
        }
      </select>
    </label>
    <span [class.hide]="isDiscountIdValid" class="text-red-500"
      >Please Choose valid discountId</span
    >

    <!-- To show realtime discount amount on product price -->
    <label
      [class.invalid]="!isDiscountIdValid && !isProductIdValid"
      class="input input-bordered flex items-center gap-2 bg-gray-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        viewBox="0 0 64 64"
        stroke-width="3"
        stroke="#000000"
        fill="none"
      >
        <path
          d="M42.45,56.47H21.55a2.19,2.19,0,0,1-2.19-2.19V29.08a1.1,1.1,0,0,1,.34-.8L30.8,17.86a1.1,1.1,0,0,1,1.47,0l12,10.44a1.12,1.12,0,0,1,.37.82V54.28A2.19,2.19,0,0,1,42.45,56.47Z"
          stroke-linecap="round"
        />
        <path
          d="M32,25.61c-4.13,0-7.48-4.05-7.48-9s3.35-9,7.48-9,7.48,4.05,7.48,9"
          stroke-linecap="round"
        />
        <path
          d="M26.36,31.68H29c2.62,0,5.51.87,5.51,4.86,0,4.32-3.67,6-7.56,5.53a.23.23,0,0,0-.19.39l8.28,8.89"
          stroke-linecap="round"
        />
        <line
          x1="37.71"
          y1="31.68"
          x2="28.45"
          y2="31.68"
          stroke-linecap="round"
        />
        <line
          x1="26.49"
          y1="36.67"
          x2="37.77"
          y2="36.67"
          stroke-linecap="round"
        />
      </svg>
      <input
        [(ngModel)]="intermediateCalculation.discountAmount"
        [disabled]="true"
        name="discountAmount"
        type="number"
        autocomplete="off"
        class="grow"
        placeholder="Discount Amount"
      />
    </label>

    <!-- To show realtime priceAfterDiscount -->
    <label
      [class.invalid]="!isDiscountIdValid && !isProductIdValid"
      class="input input-bordered flex items-center gap-2 bg-gray-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        viewBox="0 0 64 64"
        stroke-width="3"
        stroke="#000000"
        fill="none"
      >
        <path
          d="M42.45,56.47H21.55a2.19,2.19,0,0,1-2.19-2.19V29.08a1.1,1.1,0,0,1,.34-.8L30.8,17.86a1.1,1.1,0,0,1,1.47,0l12,10.44a1.12,1.12,0,0,1,.37.82V54.28A2.19,2.19,0,0,1,42.45,56.47Z"
          stroke-linecap="round"
        />
        <path
          d="M32,25.61c-4.13,0-7.48-4.05-7.48-9s3.35-9,7.48-9,7.48,4.05,7.48,9"
          stroke-linecap="round"
        />
        <path
          d="M26.36,31.68H29c2.62,0,5.51.87,5.51,4.86,0,4.32-3.67,6-7.56,5.53a.23.23,0,0,0-.19.39l8.28,8.89"
          stroke-linecap="round"
        />
        <line
          x1="37.71"
          y1="31.68"
          x2="28.45"
          y2="31.68"
          stroke-linecap="round"
        />
        <line
          x1="26.49"
          y1="36.67"
          x2="37.77"
          y2="36.67"
          stroke-linecap="round"
        />
      </svg>
      <input
        [(ngModel)]="intermediateCalculation.priceAfterDiscount"
        [disabled]="true"
        name="priceAfterDiscount"
        type="number"
        autocomplete="off"
        class="grow"
        placeholder="Price After Discount"
      />
    </label>

    <!-- Add Drop down for Tax  -->
    <label
      [class.hide]="createSubscriptionObj.id !== 0"
      class="form-control w-full"
    >
      <div class="label">
        <span class="label-text">Select the Tax</span>
      </div>

      <select
        [disabled]="createSubscriptionObj.id !== 0"
        [(ngModel)]="createSubscriptionObj.taxId"
        (ngModelChange)="handleTaxChange(createSubscriptionObj.taxId)"
        [class.invalid]="!isTaxIdValid"
        name="taxId"
        class="select select-bordered select-info bg-gray-100"
      >
        <option [value]="0" disabled selected>Pick one</option>
        @for (tax of taxList; track tax) {
        <option [value]="tax.id">{{ tax.totalTax }}</option>
        }
      </select>
    </label>
    <span [class.hide]="isTaxIdValid" class="text-red-500"
      >Please Choose valid taxId</span
    >

    <!-- Shows Real Time Tax Percentages -->
    <div class="tax-div flex flex-col gap-2">
      <!-- To Show Realtime CGST -->
      <label
        [class.invalid]="!isTaxIdValid"
        class="input input-bordered flex items-center gap-2 bg-gray-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          viewBox="0 0 64 64"
          stroke-width="3"
          stroke="#000000"
          fill="none"
        >
          <path
            d="M42.45,56.47H21.55a2.19,2.19,0,0,1-2.19-2.19V29.08a1.1,1.1,0,0,1,.34-.8L30.8,17.86a1.1,1.1,0,0,1,1.47,0l12,10.44a1.12,1.12,0,0,1,.37.82V54.28A2.19,2.19,0,0,1,42.45,56.47Z"
            stroke-linecap="round"
          />
          <path
            d="M32,25.61c-4.13,0-7.48-4.05-7.48-9s3.35-9,7.48-9,7.48,4.05,7.48,9"
            stroke-linecap="round"
          />
          <path
            d="M26.36,31.68H29c2.62,0,5.51.87,5.51,4.86,0,4.32-3.67,6-7.56,5.53a.23.23,0,0,0-.19.39l8.28,8.89"
            stroke-linecap="round"
          />
          <line
            x1="37.71"
            y1="31.68"
            x2="28.45"
            y2="31.68"
            stroke-linecap="round"
          />
          <line
            x1="26.49"
            y1="36.67"
            x2="37.77"
            y2="36.67"
            stroke-linecap="round"
          />
        </svg>
        <input
          [(ngModel)]="intermediateCalculation.cgst"
          [disabled]="true"
          name="cgst"
          type="number"
          autocomplete="off"
          class="grow"
          placeholder="CGST%"
        />
      </label>
      <!-- To Show Realtime SGST -->
      <label
        [class.invalid]="!isTaxIdValid"
        class="input input-bordered flex items-center gap-2 bg-gray-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          viewBox="0 0 64 64"
          stroke-width="3"
          stroke="#000000"
          fill="none"
        >
          <path
            d="M42.45,56.47H21.55a2.19,2.19,0,0,1-2.19-2.19V29.08a1.1,1.1,0,0,1,.34-.8L30.8,17.86a1.1,1.1,0,0,1,1.47,0l12,10.44a1.12,1.12,0,0,1,.37.82V54.28A2.19,2.19,0,0,1,42.45,56.47Z"
            stroke-linecap="round"
          />
          <path
            d="M32,25.61c-4.13,0-7.48-4.05-7.48-9s3.35-9,7.48-9,7.48,4.05,7.48,9"
            stroke-linecap="round"
          />
          <path
            d="M26.36,31.68H29c2.62,0,5.51.87,5.51,4.86,0,4.32-3.67,6-7.56,5.53a.23.23,0,0,0-.19.39l8.28,8.89"
            stroke-linecap="round"
          />
          <line
            x1="37.71"
            y1="31.68"
            x2="28.45"
            y2="31.68"
            stroke-linecap="round"
          />
          <line
            x1="26.49"
            y1="36.67"
            x2="37.77"
            y2="36.67"
            stroke-linecap="round"
          />
        </svg>
        <input
          [(ngModel)]="intermediateCalculation.sgst"
          [disabled]="true"
          name="sgst"
          type="number"
          autocomplete="off"
          class="grow"
          placeholder="SGST %"
        />
      </label>
      <!-- To Show Realtime Total Tax -->
      <label
        [class.invalid]="!isTaxIdValid"
        class="input input-bordered flex items-center gap-2 bg-gray-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          viewBox="0 0 64 64"
          stroke-width="3"
          stroke="#000000"
          fill="none"
        >
          <path
            d="M42.45,56.47H21.55a2.19,2.19,0,0,1-2.19-2.19V29.08a1.1,1.1,0,0,1,.34-.8L30.8,17.86a1.1,1.1,0,0,1,1.47,0l12,10.44a1.12,1.12,0,0,1,.37.82V54.28A2.19,2.19,0,0,1,42.45,56.47Z"
            stroke-linecap="round"
          />
          <path
            d="M32,25.61c-4.13,0-7.48-4.05-7.48-9s3.35-9,7.48-9,7.48,4.05,7.48,9"
            stroke-linecap="round"
          />
          <path
            d="M26.36,31.68H29c2.62,0,5.51.87,5.51,4.86,0,4.32-3.67,6-7.56,5.53a.23.23,0,0,0-.19.39l8.28,8.89"
            stroke-linecap="round"
          />
          <line
            x1="37.71"
            y1="31.68"
            x2="28.45"
            y2="31.68"
            stroke-linecap="round"
          />
          <line
            x1="26.49"
            y1="36.67"
            x2="37.77"
            y2="36.67"
            stroke-linecap="round"
          />
        </svg>
        <input
          [(ngModel)]="intermediateCalculation.totalTaxPercentage"
          [disabled]="true"
          name="totalTax"
          type="number"
          autocomplete="off"
          class="grow"
          placeholder="Total Tax %"
        />
      </label>
    </div>

    <!-- To Show Realtime Tax Amount on Product Price -->
    <label
      [class.invalid]="!isDiscountIdValid && !isProductIdValid && !isTaxIdValid"
      class="input input-bordered flex items-center gap-2 bg-gray-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        viewBox="0 0 64 64"
        stroke-width="3"
        stroke="#000000"
        fill="none"
      >
        <path
          d="M42.45,56.47H21.55a2.19,2.19,0,0,1-2.19-2.19V29.08a1.1,1.1,0,0,1,.34-.8L30.8,17.86a1.1,1.1,0,0,1,1.47,0l12,10.44a1.12,1.12,0,0,1,.37.82V54.28A2.19,2.19,0,0,1,42.45,56.47Z"
          stroke-linecap="round"
        />
        <path
          d="M32,25.61c-4.13,0-7.48-4.05-7.48-9s3.35-9,7.48-9,7.48,4.05,7.48,9"
          stroke-linecap="round"
        />
        <path
          d="M26.36,31.68H29c2.62,0,5.51.87,5.51,4.86,0,4.32-3.67,6-7.56,5.53a.23.23,0,0,0-.19.39l8.28,8.89"
          stroke-linecap="round"
        />
        <line
          x1="37.71"
          y1="31.68"
          x2="28.45"
          y2="31.68"
          stroke-linecap="round"
        />
        <line
          x1="26.49"
          y1="36.67"
          x2="37.77"
          y2="36.67"
          stroke-linecap="round"
        />
      </svg>
      <input
        [(ngModel)]="intermediateCalculation.taxAmount"
        [disabled]="true"
        name="taxAmount"
        type="number"
        autocomplete="off"
        class="grow"
        placeholder="Tax Amount On Price After Discount"
      />
    </label>

    <!-- To Show Realtime Price After Tax (i.e Final Amount) on Price After Discount  -->
    <label
      [class.invalid]="!isDiscountIdValid && !isProductIdValid && !isTaxIdValid"
      class="input input-bordered flex items-center gap-2 bg-gray-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        viewBox="0 0 64 64"
        stroke-width="3"
        stroke="#000000"
        fill="none"
      >
        <path
          d="M42.45,56.47H21.55a2.19,2.19,0,0,1-2.19-2.19V29.08a1.1,1.1,0,0,1,.34-.8L30.8,17.86a1.1,1.1,0,0,1,1.47,0l12,10.44a1.12,1.12,0,0,1,.37.82V54.28A2.19,2.19,0,0,1,42.45,56.47Z"
          stroke-linecap="round"
        />
        <path
          d="M32,25.61c-4.13,0-7.48-4.05-7.48-9s3.35-9,7.48-9,7.48,4.05,7.48,9"
          stroke-linecap="round"
        />
        <path
          d="M26.36,31.68H29c2.62,0,5.51.87,5.51,4.86,0,4.32-3.67,6-7.56,5.53a.23.23,0,0,0-.19.39l8.28,8.89"
          stroke-linecap="round"
        />
        <line
          x1="37.71"
          y1="31.68"
          x2="28.45"
          y2="31.68"
          stroke-linecap="round"
        />
        <line
          x1="26.49"
          y1="36.67"
          x2="37.77"
          y2="36.67"
          stroke-linecap="round"
        />
      </svg>
      <input
        [(ngModel)]="intermediateCalculation.finalAmount"
        [disabled]="true"
        name="finalAmount"
        type="number"
        autocomplete="off"
        class="grow"
        placeholder="Final Price After Taxes"
      />
    </label>

    <label
      [class.invalid]="!isStartDateValid"
      class="input input-bordered flex items-center gap-2 bg-gray-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
        />
      </svg>
      <input
        [(ngModel)]="createSubscriptionObj.startDate"
        name="startDate"
        type="date"
        autocomplete="off"
        class="grow"
      />
    </label>
    <span [class.hide]="isStartDateValid" class="text-red-500"
      >Please enter valid Start Date</span
    >
    <!-- {{ createSubscriptionObj.startDate | date : "yyyy/MM/dd" }} -->

    <label
      [class.invalid]="!isExpiryDateValid"
      class="input input-bordered flex items-center gap-2 bg-gray-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
        />
      </svg>
      <input
        [(ngModel)]="createSubscriptionObj.expiryDate"
        name="expiryDate"
        type="date"
        autocomplete="off"
        class="grow"
      />
    </label>
    <!-- {{ createSubscriptionObj.expiryDate }} -->
    <span [class.hide]="isExpiryDateValid" class="text-red-500"
      >Please enter valid Expiry Date</span
    >

    <button
      *ngIf="this.createSubscriptionObj.id === 0; else elseBlock"
      type="submit"
      class="btn w-full"
    >
      Submit
    </button>
    <button type="button" [routerLink]="['/subscription']" class="btn w-full">
      Back
    </button>
    <ng-template #elseBlock>
      <button type="submit" class="btn w-full">Update</button>
    </ng-template>
  </form>
</div>
